<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SOAPBX</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
<body>

	<section id="intro" th:fragment="intro">
		<a href="/" class="logo"><img src="../images/logo.png" alt="" /></a>
		<header>
			<h2>Soapbx</h2>
			<p>Your message. Our platform.</p>
		</header>
	</section>

	<section class="blurb" th:fragment="blurb">
		<h2>About</h2>
		<p>A platform for everyone.</p>
		<ul class="actions">
			<li><a href="/about" class="button">Learn More</a></li>
			<li><a href="/getStarted" class="button">Get Started</a></li>
		</ul>
	</section>


	<section th:fragment="posts">
		<h3>Top Stories from our Community</h3>
		<ul class="posts">
			<th:block th:each="top : ${topfive}">
				<li>
					<article>
						<header>
							<h3><a th:href="@{|/story/${top.id}|}" th:text="${top.title}">Lorem ipsum fermentum ut nisl vitae</a></h3>
							<time class="published" th:datetime="${top.created}" th:text="${top.created}">October 20, 2015</time>
						</header>
					</article>
				</li>
			</th:block>
		</ul>
	</section>
</body>
</html>