{% extends "layout.html" %}
{% block content %}
<!-- Banner -->
<section id="banner">
		<div class="content">
			<header>
				<h1 >Invoices</h1>
			</header>
			{% set customerId = 1 %}

			
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Invoice</th>
							<th>Due Date</th>
							<th>Customer</th>
							<th>Total</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for invoice in invoices %}
						<tr>
							<td>{{ invoice.id }}</td>
							<td>{{ invoice.dueDate|date('m/d/Y') }}</td>
							<td>{% for customer in customers %}
									{% if invoice.customerId == customer.id %}
										{{ customer.name }}
									{% endif %}
								{% endfor %} </td>
							<td>${{ invoice.total|number_format(2, '.', ',') }}</td>
							<td><a href="/invoice/{{ invoice.id }}"><i class="fas fa-edit"></i></a>
								<a href="/invoice/{{ invoice.id }}/delete"><i class="fas fa-trash-alt"></i></a>
								<a href="/invoice/{{ invoice.id }}/print"><i class="fas fa-print"></i></a>
								<a href="/invoice/{{ invoice.id }}/remind"><i class="far fa-paper-plane"></i></a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-12">
					<ul class="actions">
						<li><a href="/invoice/new" class="button primary">New Invoice</a></li>
						<li><a href="/invoice/delete/all" class="button">Delete All</a></li>
						{% if user.isAdmin == 0 %}
						<li><a href="/invoice-export-xml" class="button">Export</a></li>
						<li><form id="form" action="/import" method="post" enctype="multipart/form-data">
							<input type="file" name="file" id="file" class="inputfile" />
							<label for="file">Import</label>
						</form></li>
						
						{% endif %}
					</ul>
				</div>
			<div class="row gtr-50 gtr-uniform" >
				<div class="chart-container col-6">
					<canvas id="pie-chart" width="400" height="400"></canvas>
				</div>
				<div class="chart-container col-6">
						<canvas id="line-chart" width="400" height="400"></canvas>
					</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block custom_scripts %}
<script>
	var customer_data = {
		labels: [{% for invoice in invoices %} '{{invoice.id}}', {% endfor %}],
		datasets: [{
		label: "Total",
		data: [{% for invoice in invoices %} {{invoice.total}}, {% endfor %}]
		}]
	}
	var invoice_data = {
		labels: [{% for item in history %} '{{ item.date }}', {% endfor %}],
		datasets: [{
			label: 'total',
			data: [{% for item in history %} '{{ item.total }}', {% endfor %}],
			fill: false
		  }]
	  }
</script>
<script>
new Chart(document.getElementById("pie-chart"), {
	type: 'pie',
	data: customer_data,
	options: {
		title: {
			display: true,
			text: 'Total Amount per Invoice'
		},
		plugins: {
			colorschemes: {
				scheme: 'brewer.PastelOne3'
			}
		}
	}
});
new Chart(document.getElementById('line-chart').getContext('2d'), {
  type: 'line',
  data: invoice_data,
  options: {
    plugins: {
      colorschemes: {
        scheme: 'brewer.PastelOne3'
      }
    }
  }
});
document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
}
</script>
{% endblock %}