<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SOAPBX</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" th:replace="fragments/header :: header"></header>

				<!-- Menu -->
				<section id="menu" th:replace="fragments/menu :: menu"></section>
				
				<!-- Main -->
				<div id="main" style="text-align:center">
					<article class="post">
						<a href="/" class="logo"><img src="../images/logo.png" alt="" /></a>
						<h2>Soapbx</h2>
						<p>Your message. Our platform. <br/>What will you tell the world today?</p>
						<footer>
							<ul class="actions" style="display:inline">
								<li><a href="/getStarted" class="button large">Sign up</a></li>
							</ul>
						</footer>
					</article>
					<!-- Footer -->
					<section id="footer" th:replace="fragments/footer :: footer"></section>
				</div>

			</div>

		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	</body>
</html>
