<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SOAPBX</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" th:replace="fragments/header :: header"></header>

				<!-- Menu -->
				<section id="menu" th:replace="fragments/menu :: menu"></section>
				
				<!-- Main -->
				<div id="main" >
					<article class="post">
						<header>
							<div class="title">
								<h2>User Activity Overview</h2>
							</div>
							<div th:if="${message != null}" th:text="${message}"></div>
						</header>
						<th:block th:if="${cat != null}">
							<div th:text="@{|Category: ${cat.name}|}">0</div>
							<th:block th:each="story : ${stories}">
								<div>
									<h4 th:text="${story.title}"></h4> 
									</div>
									<footer>
									<ul class="stats">
										<li><div class="icon solid fa-heart" th:text="${story.likeCount}">1</div></li>
										<li><div class="icon solid fa-comment" th:text="${story.commentCount}">1</div></li>
									</ul>
								</footer>
							</th:block>
							<th:block th:each="user : ${users}">
								<div>
									<h4 th:text="${user.username}"></h4> 
								</div>
							</th:block>
						</th:block>
						<footer>
						
						</footer>
						
					</article>
					<article class="post">
						<header>
							<div class="title">
								<h3>Search User Activity</h3>
							</div>
							
						</header>
							<label for="category">Select a category:</label> 
							<select id="category" name="category" onchange="analytics();" onload="analytics();">
								<option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}">
							</select><br />
							<ul class="actions">
								<li><a href="/admin/users/category?id=1" class="button" id="usercat">User Posts In Category</a></li>
								<li><a href="/admin/stories/category?id=1" class="button" id="storycat">Stories In Category</a></li>
							</ul>
												
						<footer>	
							
						</footer>
						
					</article>
					<!-- Footer -->
					<section id="footer" th:replace="fragments/footer :: footer"></section>
				</div>

			</div>
		<script>
			function analytics() {
				var catid = document.getElementById("category").value;
				document.getElementById("usercat").href = "/admin/users/category?id="+ catid;
				document.getElementById("storycat").href = "/admin/stories/category?id="+ catid;
				
			}
		</script>
		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	</body>
</html>
