<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SOAPBX</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" th:replace="fragments/header :: header"></header>

			<!-- Menu -->
			<section id="menu" th:replace="fragments/menu :: menu"></section>

			<!-- Main -->
			<div id="main">

				<article class="post">
					<header>
						<div class="title">
							<h2>Categories</h2>
						</div>
						<div th:if="${message != null}" th:text="${message}"></div>
					</header>
					<table>
						<tr>
							<th>Id</th><th>Category</th><th>Stories</th><th>Actions</th>
						</tr>
						<tr th:each="cat : ${categories}" >
							<td th:text="${cat.id}"></td>
							<td th:text="${cat.name}"></td>
							<td th:text="${cat.storyCount}"></td>
							<td>
								<ul class="actions">
									<li><a th:href="@{|/admin/category/${cat.id}/delete|}" class="button small">Delete</a></li>
								</ul>
							</td>
						</tr>
					</table>
					
					<ul class="actions">
						<li><a href="/admin/categories?order=name" class="button">Sort by Category Name</a></li>
						<li><a href="/admin/categories?order=count" class="button">Sort by Count</a></li>
					</ul>
					
					<footer>
						<div th:if="${message != null}" th:text="${message}"></div>
						<form action="/admin/category/create" method="post">
							<br/>
							<label for="name">Add new category:</label>
							<input type="text" id="name" name="name" /><br/>
							<input type="submit" value="Submit" />
						</form>
							
					</footer>
				</article>

			</div>

		</div>

		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	</body>
</html>
